* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.visibleNav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.navbar-brand {
    cursor: default;
}

.navbar-toggler {
    box-shadow: none !important;
    border: none !important;
}

#navbrand {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 23px;
}

.visibleNav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchLink {
    width: 159px;
    border-bottom: 2px solid black;
    padding: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.581);
    font-size: 23px;
}

.icon {
    padding: 0px 20px;
}

#main-links-header {
    margin: 65px 0px 0px 0px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.21);
}

#main-links-header a {
    text-decoration: none;
    color: black;
}

#main-links-header h1 {
    text-transform: uppercase;
    font-family:  "Roboto Condensed", sans-serif;;
    font-weight: 400;
    text-align: left;
}

#main-links-header .nav-link {
    font-size: 45px;
}

#categoriesDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

#categoriesDiv div a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.781);
    font-size: 23px;
    text-transform: uppercase;
}

.singleImgDiv {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center 65%;
    position: relative;
    z-index: -1;
}

.singleImgDiv a {
    width: 100%;
    height: 100%;
}

.twoImgDiv {
    width: 100%;
    height: 600px;
    display: flex;
}

.twoImgDiv a {
    width: 100%;
    height: 100%;
}

.imgSet {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
}

.productAdiv {
    position: relative;
    display: block;
}

.productInfoDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productDivh4 , .productDivh5 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px;
    font-size: 45px;
}

footer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footerLinks {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 30px;
}

.socialmedia {
    width: 50%;
    height: 100px;
    display: flex;
}

.footerLinks a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-left: auto;
    font-size: 25px;
}

.socialmediaDiv {
    display: flex;
    margin-left: auto;
    padding-right: 30px;
}

.socialmedia a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0px 10px 0px 0px;
    font-size: 35px;
}

.app {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsLetter {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.app img {
    width: 85px;
    height: 85px;
}

.app p {
    text-transform: uppercase;
    color: black;
    font-size: 25px;
}

label {
    width: 100%;
    font-size: 25px;
    display: block;
}

input {
    width: 200px;
    display: block;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px 0px 0px 0px;
}

.offcanvas-title {
    text-transform: uppercase;
    font-weight: bold;
}

.offcanvas-body a {
    text-transform: uppercase;
    font-size: 27px;
}

.dropdown-menu {
    border: none !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #c0dfc086;
}

.dropdown-menu .dropdown-item:active {
    color: black;
}

/*#main {
    display: block;
}

#allProducts {
    display: none;
}*/

.card-img-div {
    cursor: pointer;
}

#productRow img, #similarItemsRow img {
    object-fit: cover;
}

#similarItemsRow .itemCard {
    height: 353px; 
    border: none;
}

#similarItemsRow .card-img-div {
    height: 70%;
}

#similarItemsRow .card-body {
    height: 30%;
    text-align: center;
}

#similarProducts {
    padding: 0px 20px;
}

#similarProducts h2 {
    text-transform: uppercase;
    font-size: 23px;
}

.itemCard {
    font-size: 23px;
}

.colorOutter {
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    padding: 2px;
    border: 0px solid gray;
    position: relative;
    margin: 0px 4px;
    cursor: pointer;
}

.colorInner {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

#productPage {
    display: none;
    width: 100%;
    height: auto;
}

#productPageContainer {
    width: 100%;
    height: auto;
    border-top: 2px solid rgba(0, 0, 0, 0.21);
}

.itemMainImg {
    width: 100%;
    height: 700px;
}

.itemMainImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemInfo {
    padding: 30px !important;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#itemName , #itemPrize {
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 450;
    font-size: 35px;
}

#itemSKU {
    font-size: 30px;
}

#itemDesciption {
    font-size: 25px;
}

#options label {
    font-size: 25px;
}

.specP {
    font-size: 25px;
}

.instoreP, .instoreP span {
    font-size: 25px;
}

.itemSpecLink, #alertRadio {
    font-size: 23px;
}

input[type=radio] {
    width: 15px;
}

.itemCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.itemCounter span , .itemCounter p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCounter p {
    margin: 0;
}

.itemQuantity {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.counterOperators {
    cursor: pointer;
}

.itemSpecLink {
    text-transform: uppercase;
    color: black;
}

.btnDIV {
    display: flex;
    justify-content: center;
}

.addToCartBtn {
    padding: 5px 50px;
    background-color: black;
    border:none;
    color: white;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    font-size: 25px;
}

.addToCartBtn:hover {
    background-color: #588157;
}

td {
    background-color: transparent !important;
}

.activeRow {
    background-color: #afd2af;
}

.form-check-label {
    font-size: 35px;
}

.form-check-input:checked {
    background-color: #588157 !important;
    border-color: #588157 !important;
}

input[type="radio"]:focus {
    box-shadow: 0 0 0 0.2rem #73a9724d;
}

input[type="radio"] {
    border-color: rgba(0, 0, 0, 0.155);
}

#options div {
    width: 100%;
    border-bottom: 1px solid rgba(161, 161, 161, 0.699) !important;
}

#options {
    border-radius: 5px;
}

#alertRadio {
    display: none;
    color: red;
}

.offcanvasMenuLinks {
    display: flex;
    flex-direction: column;
}

.offcanvasMenuLinks a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.cms-div {
    padding: 50px 105px;
}

.cmsPage p {
    font-size: 20px;
}

.cartCard {
    width: 100%;
    height: 183px;
    object-fit: cover;
    display: flex;
}

.cartCardImg img {
    height: 100%;
    width: 100%;
}

.cartCardInfo p {
    font-size: 19px;
}

.detailsCart {
    font-size: 18px;
    font-weight: 400;
}

.cartItemSku {
    font-size: 14px;
    font-weight: 400;
}

.cartCardImg {
    width: 40%;
}

.cartCardInfo {
    width: 60%;
}

.cartItemQty {
    display: flex;
    align-items: center;
}

.cartItemQty input {
    width: 50px;
}

#emptyCartP {
    
}

#emptyCartP a {
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: black;
}